
.about{
font-size: 2.0rem;
color: #1EBAD6;
font-family: 'Roboto Slab';
text-align: center;
}


.lead {
  font-family: 'Roboto';
  color: #3b3a4a;
  text-align: justify;
}

.bg-nmg {
  background-color: #f2f2f4;
}
.hori-line{
border:none;
margin: 100px auto;
border-top-style: dotted;
color: #fff;
border-width: 5px;
width:20%;
}

/*
.body{
  background: #ffffff;
  height: auto;
  font-family: 'Roboto';
  color: #3b3a4a;


} */
.deck-card{
text-align: center;
}
.deck-box{
  margin: auto;
  text-align: justify;
  background-color: #f2f2f4;
}

.cart-title {
  font-family: 'Roboto Slab';
  color: #3b3a4a;
}
/* .post{

} */
.box {
  border-style: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 15px;
  width:100%;
  height: 100%;
  padding: 20px;
  overflow: auto;

}
.row {
  display: flex;

}
.noticeboard {
background-color: #3b3a4a;
z-index: 2;
}
.noticeboard li {
  font-size: 1rem;
  padding:5px;
}
.noticeboard a {
  color: #fff;
}
.text-danger {
  font-size: 1rem;
}
.text-lg {
  font-size: 2rem;
}
.bg-darkblue {
  /*background-color: #004a99;
  padding: 50px 60px 100px 60px;        changed here too for parallax*/
  background-image: url("./chip22.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:60px 60px;

}
.bg {
  background-color: rgba(0,0, 0, 0.5);
  color: #fff;
  /* opacity: 80%;  */
  /*Changed here*/

}
.bg:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
 
.icon-lightblue {
  color: #cdf0f7;
}
.bold {
  font-weight: 1000;
}
.full {
  width: 90%;
}

.boxup {
  background-color: #fff;
}
@media(max-width:576px) {
  .row .deck-box .card {
    margin:0px 0px 0px 0px;
  }
  .row .deck-box {
    padding: 10px;
  }
}
.pad {
  overflow: hidden;
}
.scroll-up {
  position: relative;
  -moz-animation: marquee 10s linear infinite;
  -webkit-animation: marquee 10s linear infinite;
  animation: marquee 10s linear infinite;
}
.scroll-up:hover {
  animation-play-state: paused;
}

@-moz-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@-webkit-keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
  }
  100% {
    -moz-transform: translate(0, 100%);
    -webkit-transform: translate(0, 100%);
    transform: translate(0, -100%);
  }
}