.event-box{
width: 100%;

margin: 0 auto 80px auto;
padding: 40px;

}
.event-img{
margin-top: 40px;
width: 70%;
height: auto;
}
.event-title{
padding-top: 20px;
padding-bottom: 30px;
font-size: 3rem;
font-family: 'Roboto Slab';
}
.event-desc{
text-align: justify;
font-size: 1.3rem;
font-family: 'Montserrat';
margin-bottom: 40px;
color: #000;
}

.event-logo{
margin: 10px 5px 10px 0;
color: #000;
}
.google-cal{
margin-top: 0;
width:200px;
height: auto;
padding-left: 10px;
}
.loading-text{
font-size: 1.5rem;
text-align: left;
margin-left: -25px;
margin-top: 25px;
font-weight: 800;
color: #085B72;
font-family: 'Montserrat';

}

.loader{
display: flex;
justify-content: center;
align-items: center;
opacity: 0.8;
height: 100%;
}

@media(max-width:600px){
  .event-img{
  margin-top: 40px;
  width: 100%;
  height: auto;
  }
  .event-title{
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 2rem;
  font-family: 'Roboto Slab';
  }
  .event-desc{
  text-align: justify;
  font-size: 1.1rem;
  font-family: 'Montserrat';
  margin-bottom: 40px;
  color: #000;
  }
  .google-cal{
  margin-top: 0;
  width:160px;
  height: auto;
  padding-left: 10px;
  }
}
