 .image{

width:60%;
margin: 120px auto 100px auto;
}
/* .hori-line{
border:none;
margin: 100px auto;
border-top-style: dotted;
color: #f0f0f0;
border-width: 5px;
width:20%;
} */



@media(max-width: 600px){
  .image{

 width:100%;
 margin: 120px auto 100px auto;
 }
}
