.img-society{
height: auto;
width: 100%;
text-align: center;
}
.img{
  height:250px;
  width:auto;
  text-align: center;

}
.deck{
margin: 30px 30px 70px 30px;
}
.content{
width: 100px;
}

#popover-basic{
height: auto;
width: auto;
}

.button{

background-color: #1EBAD6;
border-color: #1EBAD6;
outline: #1EBAD6;
}

.button:hover{
background-color: #3B3A4A;
}
.button:active{
background-color:#1EBAD6;
}





.box {
  border-style: solid;
  border-width: 2px;
  border-color: black;

}
.close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {background: #bbb;}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  overflow: auto;
}

.card:hover .overlay {
  opacity: 1;
}
@media only screen and (max-width:500px){
  .society-card-footer{
    background-color: #008CBA;
    height: 250px;
    }
}
@media only screen and (min-width:500px){
  .society-card-footer{
    background-color: #008CBA;
    height: 100%;
   }
   .card{
     min-height: 420px;
   }
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
}
