col-head.button{

background-color: #1EBAD6;
border-color: #1EBAD6;
outline: #1EBAD6;
}

.button:hover{
background-color: #3B3A4A;
}
.button:active{
background-color:#1EBAD6;
}
.box {
  border-style: solid;
  border-width: 2px;
  border-color: black;
margin-top: 0;
margin-bottom: 0;
padding-top: 0;
padding-bottom: 0;

}

.content{
width: 100px;
}


.close {
  cursor: pointer;
  position: absolute;
  top: 20%;
  right: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
}

.close:hover {

background: #bbb;
}



.card:hover .overlay {
  opacity: 1;
}
.deck{
margin: 30px 30px 70px 30px;
}
.img-society{
height: auto;
width: 100%;
text-align: center;
}
hr{
margin-top: 16px;
margin-bottom: 50px;
}
.img-society{
margin-top: 0;
margin-bottom: 0;
}
.img{
  height:250px;
  width:auto;
  text-align: center;

}
.overlay {
  position: absolute;
  top: 0;
  bottom:0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
  overflow: auto;
}
.col-head{
text-align: center;
font-weight: 700;
font-size: 2.5rem;
}
.society-desc{
font-weight: 700;

}
@media(max-width:600px){
  .deck{
  margin: 30px 0 70px 0;
  }
  .society-card-footer{
    background-color: #008CBA;
    height: auto;
    }
    .society-desc{
    font-weight: 700;
    font-size:1.5rem;
    }
    .col-head{
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
    }
}

@media only screen and (min-width:500px){
  .society-card-footer{
  padding-top: 0;
    background-color: #008CBA;
    height: auto;


   }
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  text-align: center;
}
