.about{
font-size: 2.2rem;
color: #1EBAD6;
font-family: 'Roboto Slab';
}

.lead {
  margin-top: 50px;
  font-family: 'Roboto';
  color: #3b3a4a;
  text-align: justify;
}

.bg-nmg {
  background-color: #f2f2f4;
}



.body{
  background: #ffffff;
  height: auto;
  font-family: 'Roboto';
  color: #3b3a4a;
  

}
.deck-box{
  margin: auto;
  background-color: #f2f2f4;
}

.cart-title {
  font-family: 'Roboto Slab';
  color: #3b3a4a;
}