*{
    scroll-behavior: smooth;
}

.nav-item {
    color: #3b3a4a;
    font-family: 'Roboto';

}

.navbar-brand {
    font-family: 'Montserrat';
}

.nav-item:hover{
    color: #1ebad6;
}

.active{
    color: #1ebad6;
    transition: ease 1s;
    font-weight: bold;
}

.bg-nmg {
    background-color: #f2f2f400;
}


#navLink {
    text-decoration: none;
    font-size: 1.1em;
}