.nav-item {
    color: #3b3a4a;
    font-family: 'Montserrat';

}

.navbar-brand {
    font-family: 'Montserrat';

}

.nav-item:hover{
    color: #1ebad6;
}

.bg-nmg {
    background-color: #f2f2f4;
}


#navLink {
    text-decoration: none;
}

.active {
    color: #1ebad6;
}



