img {
margin:20px 0;
}

.landercard{

text-align: center;
}

/* .bg-nmg {
  background-color: #f2f2f4;
} */

/* .head-quote {
  font-size: 70px;
  color: #1ebad6;
  font-family: 'Roboto Slab';
  font-weight: 600;
} */

.about-head {
  font-size: 50px;
  color: #1ebad6;
  font-family: 'Roboto Slab';
  font-weight: 400;
}

.about-content {
  margin-top: 30px;

  padding-top: 50px;
  text-align: justify;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

.toggle-down {
  color: #1ebad6;
  font-size: 100px;
  font-family: 'Roboto';
}
.leaves {
  /* The image used */
  /* background-image: url("./leaves.jpeg"); */
  /* background-image: url("./background.jpg"); */
  background-image: url("./electronics.jpg");
  /* Add the blur effect */
   /* filter: blur(8px);
  -webkit-filter: blur(8px); */

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
    background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:140px 60px 100px 60px;

}


.circle-container {
	position: relative;
	perspective: 1000;
	margin: auto auto;
}

.circle-container:hover .circle {
	transform: rotate3d(45, 45, 0, 180deg);
}

.circle-container:hover .outer-ring {
	transform: rotate3d(45, 0, 0, 180deg);
}

.circle-container:hover .outer-outer-ring {
	transform: rotate3d(0, 45, 0, 180deg);
}

.circle-container, .front, .back {
	width: 400px;
	height: 400px;
	/* background-color: rgba(0,0,0,0); */
}

.circle, .outer-ring, .outer-outer-ring {
	transition: 0.5s;
	transform-style: preserve-3d;
	transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.circle {
  text-align: center;
margin-left: auto ;
	position: relative;
	width: 400px;
	height: 400px;
}

.front, .back {
	border-radius: 50%;
	box-shadow: 0px 0px 20px rgba(0,0,0,0.4);
	backface-visibility: hidden;
	position: absolute;
	top: 0px;
	left: 0px;
}

.front {
	z-index: 2;
  text-align: center;
margin: auto auto;
}

.front-logo {
	width: 100%;
	display: block;
	margin: auto auto;
}


.back {
	transform: rotate3d(45,45,0,180deg);
  background-color: #fff;
  display: block;
	margin: auto auto;
}

.back-logo {
	width: 100%;
	display: block;
	margin: auto auto;
}

.outer-ring {
	position: absolute;
	top: -18px;
	left: -18px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 440px;
	height: 440px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.outer-outer-ring {
	position: absolute;
	top: -27px;
	left: -27px;
	border-radius: 50%;
	border: 2px solid #fff;
	width: 460px;
	height: 460px;
	background-color: rgba(255,255,255,0);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
}
.title{
	text-align: justify;
}
.title h1  {
  color: #fff;
  font-weight:700;
  font-size:4rem;
  /* margin: auto; */
  font-family: 'Recursive', sans-serif;
padding: 60px 40px 50px 40px;


  text-align: right;

}
/* .title h1 {
	display: inline-block;
	transition: 1s;
  } */



 @media (min-width: 992px) and (max-width: 1199px){
	 .title h1 {
		font-weight:600;
		font-size:80px;
		padding-top:20px;
		padding-bottom: 20px;
		padding-left: 40px;
		text-align: right;
	 }

  }
  @media (min-width: 575px) and (max-width: 991px){
	.title h1 {
	   font-weight:500;
	   font-size:60px;
	   padding-top:40px;
	   padding-bottom: 20px;
	   text-align: center;
	}

 }
@media(max-width:576px) {
	.outer-outer-ring {
		width:340px;
		height: 340px;
	}
	.outer-ring {
		width:320px;
		height:320px;
	}
	.circle-container,.circle, .front , .back {
		width: 300px;
		height: 300px;
	}
	.landercard {
		padding:40px 0 40px 12px;
	}
	.front , .back {
		top:-7px;
		left: -7px;
	}
	.title h1 {
		font-weight:400;
		font-size:40px;
		padding-top:40px;
		padding-bottom: 20px;
		text-align: center;
	 }

}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px)
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71) and (orientation:portrait)
{
  .outer-outer-ring {
   width:314px;
   height: 314px;
 }
 .outer-ring {
   width:294px;
   height:294px;
 }
 .circle-container,.circle, .front , .back {
   width: 274px;
   height: 274px;
 }
 .landercard {
   padding:40px 2px 40px 12px;
 }
 .front , .back {
   top:-7px;
   left: -7px;
 }
}
