.footer{
    background-color: #3B3A4A;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
    color: #ddd;
}
hr { display: block; 
    width:60%;
    overflow: hidden; 
    border-style: inset; 
    border-width: 1px;
}
.col-10 hr {
    width:80%
}

address{
    font-size:80%;
    margin:0px;
    color: #ddd;
}
#dev {
    position: absolute;bottom: 0px; left: 0px;
}
span {
    font-size:x-small;
}
#up {
    position: absolute;bottom: 0px; right: 0px;
}
@media (max-width: 767px) {
  .addr {
      margin-top: 30px;
  }
    
  } 
/* .bg-nmg {
    background-color: #f2f2f4;
} */