::-webkit-scrollbar {
    width: 5px;
  }

::-webkit-scrollbar-track {
    background-color: #f2f2f400;
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #3B3A4A; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1eabd6; 
  }