.card {
    width: 100%;
    margin: 10px auto 40px auto;
    overflow: hidden;
}
/* .deck{

margin: 30px 100px;
} */
.img-overlay {

    left: auto;
    right:auto;
    bottom:45px;
    background-color: rgba(0,0,0,0.5);
    text-align: center;
}
.hide {
    visibility: hidden;
  }

.card-img-top:hover + .hide {
    visibility: visible;
    transition: ease 0.5s;
  }
.hide:hover {
    visibility: visible;
  }
