.resources-header{
padding-top: 50px;
color: #222831;
margin-bottom: 20px;
}
.resources-container{
margin-bottom: 150px;
}
.row  {
    margin-top: 0px;
    margin-bottom: 50px;
}
.fade {
    -webkit-transition-duration: 0.7s; /* Safari */
    transition-duration: 0.7s;
}
.tab-pane{
  font-size: 13pt;
  color: black;
}
a{
  color: #4f8a8b;
}
.tab-content{
padding-left: 80px;
  font-family: 'Montserrat';

font-size: 1.1rem;
}
.resource-link:hover{
color:#4f8a8b;
}
li{
color: #222831;
}
.aria-selected{
  background-color:#4f8a8b;
}

.nav-pills .nav-link.active{
  background-color: #4f8a8b;
  padding: 10px 10px;
}
@media(max-width:576px){
  .links {
    margin:0px;
    padding: 10px;
    overflow:auto;
    width:100%;
    text-align: center;
  }
}
