/* The css applied here shows effect on the whole page, don't know why. That's why I have commented it out */
/* .container{
    border: 3px solid grey;
    max-height: 500px;
    overflow: scroll;
}*/

.list-item{
    margin: 0px 10px;
} 