body {
  margin: 0;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}






/* --------WEBKIT---------- */
::-webkit-scrollbar{
  width: 8px;
  background-color: black;
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: white;
  box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
