img {
margin:20px 0;

}
.landercard{
text-align: center;
}

/* .bg-nmg {
  background-color: #f2f2f4;
} */

/* .head-quote {
  font-size: 70px;
  color: #1ebad6;
  font-family: 'Roboto Slab';
  font-weight: 600;
} */

.about-head {
  font-size: 50px;
  color: #1ebad6;
  font-family: 'Roboto Slab';
  font-weight: 400;
}

.about-content {
  margin-top: 30px;

  padding-top: 50px;
  text-align: justify;
  color: #fff;
  font-size: 1.2rem;
  font-family: 'Montserrat';
}

.toggle-down {
  color: #1ebad6;
  font-size: 100px;
  font-family: 'Roboto';
}
.leaves {
  /* The image used */
  background-image: url("./leaves.jpeg");
  
  /* Add the blur effect */
  /* filter: blur(8px);
  -webkit-filter: blur(8px); */
  
  /* Full height */
  height: 100%; 
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding:60px 60px;
}
